body {background-color: #eee; 
        color: black; 
        margin: 0; 
        text-align: center; 
        padding: 20pt;
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

h1, h2, h3 {font-family:  "Helvetica Neue", Helvetica, arial, sans-serif;}

/*p {font-family:  sans-serif, arial;}*/
    
#test{font-size: 7em;
    font-style: bold; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;}

#bigclicker{ 
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
    cursor: pointer;
    background-color: #eee; 
    opacity:0.7;
    filter:alpha(opacity=70);
    border-style: solid; 
    border-width: 2pt;
    font-style: bold; 
    font: futura;
    border-radius: 20px;
    font-size: 2em;}

    /*display: block;*/
    

#insulttext{opacity: 1.0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none;
user-select: none;}
   

#form1{font-size: 2em; 
    font-style: bold;
padding-bottom: 20pt;}

.inputbox{font-size: 12pt; width: 150px; height: 20px; }